body {
  font-family: Arial;
  background-color: #f2f2f2;
}

.container {
  width: 80%;
  margin: auto;
}

.header, .footer {
  text-align: center;
  background: lightblue;
  padding: 10px;
  margin-bottom: 10px;
}

.content-box {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid lightgray;
}

marquee {
  background: yellow;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
}
