body {
    font-family: Arial, sans-serif;
    background-color: #e8f1ff;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #002080;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid #002080;
    padding: 10px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

.button {
    display: inline-block;
    background: #002080;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover {
    background: #0040ff;
    transform: scale(1.05);
}
